*{
    margin: 0;
    padding:0;
}

html,body{
    height: 100%;
    font-family: 'Montserrat';font-size: auto;
}

.top{
    height: 100%;
    background-image: url(../Components/homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.header{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color:gainsboro;
    overflow: hidden;
}

.header .logo  img{
    float:left;
    height: 50px;
    width: 50px;
}

.header .nav{
    height: 50px;
    text-align: center;
    justify-content: center;
}

li{
    display: inline-block;
    padding: 15px 5px 15px 12px;
}

li a{ 
    color: grey;
    text-decoration:none; 
    padding: 15px 5px 15px 12px;
    margin: 0;

}
li a:hover{
    background-color: darkgray;
}

.main{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main h1{
    margin-top: 60px;
}

.footer {
    margin: 30px;
    display: inline;
    height: 10%;
    text-align: center;
}

.counting{
    /*    background-color: fuchsia;*/
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

hr { 
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    /*    border-style: inset;*/
    border-width: 1px;
    width:150px;
}

#demo{
    margin-top: auto;
    color: aliceblue;
}

form {
    display: inline
}

.content{

}

.section1{
    background: pink ;
    overflow:auto;
}

.pic1{

    margin: 40px;
    background: blue;
    float: left;

}
.container1{

}

.section2{
    clear:left;
    background: yellow;
    height: 500px;
}
.container2{
    background-color: aqua;



}
.section3{
    background: #d1d1e0;
    height: 100%
}
.section4{
    background: #f0f0f5;
    height: 100%
}
.section5{
    background: #e0e0eb;
    height: 100%
}


